{% extends 'admin/base.html' %}
{% load i18n %}

{% block content %}
    <div>
        <h2>{% trans 'Import Sveve contacts from file' %}</h2>
        <p>{% trans 'You can import contacts into the Sveve app from an Excel/CSV-file as long as it has only three columns;' %}
            <ul>
                <li>{% trans 'First name' %}</li>
                <li>{% trans 'Last name' %}</li>
                <li>{% trans 'Mobile phone' %}</li>
            </ul>
            {% trans 'The columns should be separated by a comma and the file should be UTF-8 encoded.' %}
        </p>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}

                <button type="submit">{% trans 'Upload CSV' %}</button>
        </form>
    </div>
    <br />

{% endblock %}
