{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h3>{% trans 'Message' %}:</h3>
    {% include 'admin/partials/message_box.html' %}
    <br>

    <input type="hidden" name="action" value="send_message" />
    <input type="submit" name="apply" id="apply" value="{% trans 'Send message' %}"/>
    <h3>{% trans 'Recipients' %}:</h3>
    <ul>
    {% for order in orders %}
    <li>{{ order }}</li>
    <input type="hidden" name="_selected_action" value="{{ order.pk }}" />
    {% endfor %}
    </ul>
  </form>

{% endblock %}
